body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding:  20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 25px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 5px 5px 10px #000000;
}

nav a:hover{
    color: rgb(84, 11, 11);
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li:hover{
    border-color: rgb(128, 32, 32);
}

.produtos li:hover:active{
    border-color: rgb(175, 183, 20)
}
.produtos li:hover h2{
    font-size: 34px;
}



.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px 5px 5px 40px;
    
}

.produtos h2 {
    font-size: 25px;
    font-weight: bolder;
}

.produto-descriçao{
    font-size: 18px;
}

.produto-preço{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;

}

footer{
    text-align: center;
    background: url('bg.jpg');
    padding: 40px 0px;
}

.copyright {
    font-size: 15px;
    color: #ffffff;
    padding: 20px 0 0;
}
@media screen and (max-width: 480px) { 
    main {
        position:static;
        width: 100%;
    }
    .caixa{
        width: auto;
    }
    nav{
        position:static;
    }
    h1 {
        text-align: center;
    }
    .produtos, .teste{
        width: 100%;
        
    }
    li{
        margin: 20px 10px 0px 0px;
    }
    h2{
        font-size: 15px;
    }

    .produtos li:hover h2{
        font-size: 24px;
    }
   
}